<h1>New Entity</h1>

<form action="/create" accept-charset="UTF-8" method="post">
  Title:<br>
  <input type="text" name="title">
  <br>
  Body:<br>
  <input type="text" name="body">
  <br><br>
  <input type="submit" value="Submit">
</form>
